body {
    margin: 0;
    background-color: #f6f6f6;
    overflow-y: scroll; /* Ha az elem "túlcsordul" az y tengelyen, görgetősáv jelenik meg. */ 
    display: block;
}

html {
    font-size: 100%;
    display: block;
}

html, body {
    font-family: sans-serif;
    height: 100%;
}

div {
    display: block;
}

#mw-page-base {
    background-color: #fbfbfb;
    height: 5em;
}

#mw-head-base {
    margin-top: -5em;
    margin-left: 10em;
    height: 5em;
}

.mw-body {
    margin-top: -1px;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
}

.mw-body, #mw-data-after-content {
    margin-left: 10em;
}

.mw-body, .parsoid-body {
    background-color: #ffffff;
    color: #202122;
    direction: ltr;
    padding: 1em;
}